<!DOCTYPE html>
<html>
  <head>
    <title>PlanningFallacy</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <div class="ui fixed stackable inverted menu">
        <div class="ui container">
          <%= link_to "Planning Fallacy", root_path, class: "header item" %>
          <div class="right menu">
            
            <% if current_account %>
              <%= link_to '/checkin', class: "item" do %>
                <i class="checkmark box icon"></i>
                Check In
              <% end  %>
              <div class="ui simple dropdown item">
                <i class="user icon"></i>
                <%= current_user.name %>
                <i class="dropdown icon"></i>
                <div class="menu">
                  <%= link_to "Events", '/calendar', class: "item" %>
                  <%= link_to "Profile", '/profile', class: "item" %>
            <% end %>

                <%= link_to 'Sign out', '/sessions', method: :delete, class: "item" %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui main text container">
        <% if flash[:notice] %>
          <div class="ui info message notification">
            <i class="close icon"></i>
            <%= flash[:notice] %>
          </div>
        <% end %>

        <%= render 'layouts/errors' %>

        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
