<!DOCTYPE html>
<html>
  <head>
    <title>PlanningFallacy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <p><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></p>
    <% else %>
      <p><%= link_to "Sign In", new_user_session_path %></p>
    <% end %>
    <p><%= flash[:alert] %></p>
    <p><%= flash[:notice] %></p>
    <%= yield %>
  </body>
</html>
